/* src/styles/home.css */
/* .home-container {
  text-align: center;
  margin-top: 50px;
}

.donate-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #d9534f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.donate-button:hover {
  background: #c9302c;
} */



.home-container {
  display: flex; /* Enables flexbox */
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-section {
  flex: 1;
  text-align: justify; /* Aligns text to the left */
}

.text-section h3 {
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 25px;
}

.text-section h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 8px;
  line-height: 1;
}

.text-section h4 {
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 2px;
}

.text-section p {
  font-size: 1.5rem;
  margin-bottom: 25px;
  margin-top: 40px;
  font-weight: 400;
}

.text-section h1 {
  color: #d9534f;
}

.donate-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.donate-btn:hover {
  background-color: #c0392b;
}

/* .image-section {
  flex: 1;
  text-align: right;
} */

.home-image {
  flex: 1;
  max-width: 50%;
}

.home-image img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}